.list-item-wrapper {
  display: flex;
  flex-flow: row;
  width: 95%;
  justify-content: space-between;
  background-color: crimson;
  padding: 5px;
}

.list-item-wrapper:hover .item-buttons {
  opacity: 1;
}
.item-buttons {
  opacity: 0.4;
  display: flex;
  flex-flow: row;
  /* width: 13%; */
  justify-content: space-between;
  transition: all 0.1s;
}
.list-wrapper {
  width: 70%;
  background-color: coral;
  padding: 1rem;
}
